.card {
    border: 1px solid #333;
    border-radius: 5px;
}

.champ {
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
}

li {
    list-style: none;
    font-family: "Times New Roman", Times, serif;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 10px;
}