.header {
    top: 0;
    background-color: #D35400;
    position: fixed;
    height: 5rem;
    max-height: 4rem;
    max-width: 100%;
    width: 100%;
    display: flex;
    z-index: 1;
}

.link {
    color: white;
    text-decoration: none;
}