.header {
    top: 0;
    background-color: #D35400;
    position: fixed;
    height: 10%;
    max-height: 100px;
    max-width: 100%;
    width: 100%;
    display: flex;
}

.link {
    color: white;
    text-decoration: none;
}